/* no margin or border */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* variables */
:root {
  --primary-color: #ffffff;
  --secondary-color: #0c099c;
  --tertiary-color: #df1010;
  --red-shadow: var(--tertiary-color) 2px 2px;
  --small-red-shadow: var(--tertiary-color) 1px 1px;
  --smallest-red-shadow: var(--tertiary-color) .5px .5px;
  --blue-shadow: var(--secondary-color) 2px 2px;
  --small-blue-shadow: var(--secondary-color) 1px 1px;
  --border-rad: 15px;
  --border-width: 5px;
}

/* body styling image background and font */  
body {
  color: var(--primary-color);
  font-family: "Lucida Console", Courier, monospace;
  background-image: url("../images/wp8375864.jpg"); 
  background-size: cover;
  background-position: center;
  position: relative;
  
}

/* header styling and flex */
header {
  padding: 15px 40px;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
}

/* h1 margin size */
header h1 {
  margin: 5px;
}

/* styling around h1 a in header*/
header h1 a{
  text-shadow: var(--red-shadow);
  text-decoration: none;
  color: var(--primary-color);
  font-weight: bold;
  font-size: 40px;
}

/* nav margin size */
header nav {
  margin: 15px 20px; 
}

/* spacing for nav ul*/
header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

/* styling for nav ul li a for the header */
header nav ul li a {
  margin: 0 20px;
  padding: 5px 15px;
  color: var(--primary-color);
  font-size: 1.55vw;
  text-decoration: none;
  text-shadow: var(--small-red-shadow);
}

/* adds background for nav ul li a for the header when it is hovered by mouse */
header nav ul li a:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 50px;
}

/* styling for h2 in bio, port, contact-info, resume */
.bio h2, .port h2, .contact-info h2, .resume h2{ 
  text-align: center;
  margin: 35px auto 10px auto;
  font-size: 26px;
}

/* shadow for h2 in bio and contact-info */
.bio h2, .contact-info h2{
  text-shadow: var(--blue-shadow);
}

/* styling of img in bio */
.bio img{
  width: 25%;
  text-align: center;
  margin: 20px auto;
  display: block;
  border-style: solid;
  border-width: var(--border-width);
  border-radius: var(--border-rad);
  border-color: var(--secondary-color);
}

/* styling of p in bio */
.bio p {
  text-align: center;
  width: 50%;
  display: flex;
  margin: 0px auto 30px auto;
  font-size: 20px;
  text-shadow: var(--small-blue-shadow)
}

/* creates line above h2 for port, contact-me and resume */
.line-break{
  color: var(--primary-color);
  border-top: 3px solid;
  padding-top: 20px;
  margin: 0px auto;
  text-align: center;
  width: 75%;
}

/* shadow for h2 in port and resume */
.port h2, .resume h2{
  text-shadow: var(--red-shadow);
}

/* so margins aren't clickable in run buddy image */
.space-sounds { 
  text-align: center;
}

/* styling of h3 in space-sounds and card */
.space-sounds h3, .card h3 { 
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
  text-shadow: var(--small-blue-shadow);
  position: relative;
  top: 40px;
  z-index: 2;
}

/* border around just h3 and not row */
.space-sounds h3 span, .card h3 span{
  background: var(--tertiary-color);
  padding: 5px;
  border-radius: var(--border-rad);
}

/* changes h3 font size and position for card */
.space-sounds a { 
  text-decoration: none;
}

/* changes h3 font size and position for card */
.space-sounds a h3 { 
  color: var(--primary-color)
}

/* font size of span span so it is a different size than header */
.space-sounds h3 span span, .card h3 span span{
  font-size: 16px;
}

/* border around a img in space-sounds and card */
.space-sounds a img, .card a img{
  border-style: solid;
  border-width: var(--border-width);
  border-radius: var(--border-rad);
  border-color: var(--tertiary-color);
}

/* styling a img in just space-sounds */
.space-sounds a img { 
  margin: 0px auto 10px auto;
  width: 75%;
}

/* wraps the projects and spaces them evenly */
.projects{
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  padding: 10px;
  justify-content: space-evenly;
}

/* margin of each card div */
.card {
  margin: 15px;
  flex: 0 0 300px;
}

/* size of each a img in card div */
.card a img{
  width: 500px;
}

/* wraps the contact section and and sizes */
.contact{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

/* wraps the link and spaces them */
.link {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  margin: 20px auto;
}

/* sizes a img in icon*/
.icon a img{
  width: 100px;
}

/* centers resume pdf icon */
.resume {
  text-align: center;
}

/* sizes a img in pdf-icon*/
.pdf-icon a img{
  width: 200px;
  margin: 20px auto;
}

/* styles footer */
footer{
  margin-top: 20px;
  margin-bottom: 0px;
  background-color: var(--tertiary-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* styles h2 and h3 in footer */
footer h2, footer h3{
  padding: 20px;
  text-shadow: var(--blue-shadow);
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */

/* this will be applied on any screen smaller than 980px */
@media screen and (max-width: 980px) {

  /* centers contents and removes bottom padding in header */
  header {    
    justify-content: center;
    position: relative;
    padding-bottom: 0;
  }

  /* font size for h1 a in header */
  header h1 a{
    font-size: 30px;
  }
  
  /* width for nav ul header */
  header nav ul {
    width: 100%;
  }

  /* font size for nav ul li a in header */
  header nav ul li a {
    font-size: 15px;
  }

  /* removes margin at h2 in bio */
  .bio h2{
    margin-bottom: 0px;
  }
  
  /* changes img width and margin */
  .bio img{
    margin: 20px auto;
    width: 40%;
  }
  
  /* changes font size and margins of p in bio */
  .bio p {
    margin: 0px auto 30px auto;
    font-size: 16px;
  }

  /* font size of h3 */
  .space-sounds h3, .card h3 {
    font-size: 16px;
    top: 35px;
  }

  /* font size of span span in h3 */
  .space-sounds h3 span span, .card h3 span span{
  font-size: 12px;
  }

  /* changes padding in projects */
  .projects{
    padding: 0px 50px;
  }

  /* changes a img width in card */
  .card a img{
    width: 300px;
  }
}
  
/* MEDIA QUERY FOR TABLETS AND SMALLER */

/* this will be applied on any screen smaller than 768px */
@media screen and (max-width: 768px) {

  /* changes shadow and margin in nav ul li a in header */
  header nav ul li a {
    text-shadow: var(--smallest-red-shadow);
    margin: 0;
  } 

  /* changes font size and margins of p in bio */
  .bio p {
    margin: 0px auto 30px auto;
    font-size: 14px;
  }

  /* changes a img width in icon */
  .icon a img{
    width: 75px;
  }

  /* changes a img width in icon */
  .pdf-icon a img{
    width: 150px;
  }
}
  
/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */

/* this will be applied on any screen smaller than 575px */
@media screen and (max-width: 575px) {

  /* Centers h1 in header */
  header h1 {  
    text-align: center;
  }

  /* font size and text shadow for h1 a in header */
  header h1 a{
    font-size: 26px;
    text-shadow: var(--small-red-shadow);
  }

  /* changes shadow and margin in nav ul li a in header */
  header nav ul li{
    padding-bottom: 15px;
  }

  /* changes h3 font size and position for card */
  .space-sounds h3, .card h3 { 
    font-size: 12px;
    top: 30px;
  }

  /* font size of span span */
  .space-sounds h3 span span, .card h3 span span{
  font-size: 10px;
  }

  /* changes flex basis for card */
  .space-sounds, .card{
    flex: 0 0 250px;
  }

  /* changes a img size for card */
  .space-sounds a img, .card a img{
    width: 250px;
  }

  /* changes a img size for icon */
  .icon a img{
    width: 50px;
  }

  /* changes a img size for pdf-icon */
  .pdf-icon a img{
    width: 100px;
  }

  /* changes h2 and h3 text shadow in footer */
  footer h2, footer h3{
    text-shadow: var(--small-blue-shadow);
  }

  /* changes h2 font size in footer */
  footer h2{
    font-size: 15px;
  }

  /* changes h3 font size in footer */
  footer h3{
    font-size: 13px;
  }
}