/* no margin or border */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #ffffff;
  --secondary-color: #0c099c;
  --tertiary-color: #df1010;
  --red-shadow: var(--tertiary-color) 2px 2px;
  --small-red-shadow: var(--tertiary-color) 1px 1px;
  --smallest-red-shadow: var(--tertiary-color) .5px .5px;
  --iamge-shadow: 5px 5px var(--secondary-color);
  --blue-shadow: var(--secondary-color) 1px 1px;
}

  /* more on this crazy alphanumerical value in a minute! */  
body {
  color: var(--primary-color);
  font-family: "Lucida Console", Courier, monospace;
  background-image: url("../images/wp8375864.jpg"); 
  background-size: cover;
  background-position: center;
  position: relative;
  
}

/* apply styles to <header> */
header {
  padding: 15px 40px;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
}

header h1 {
  margin: 5px;
}

header h1 a{
  text-shadow: var(--red-shadow);
}

header a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: bold;
  font-size: 40px;
}

/* move nav to the right side, 7 px form top and bottom and 0 left and right */
header nav {
  margin: 15px 20px; 
  float: right;
}

/* allows nav ul to take up the space that it needs*/
header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* align-items: center; */
  list-style: none;
}

/* Changes the text and position of the anchors in the ul and li for the nav   */
header nav ul li a {
  margin: 0 20px;
  padding: 5px 15px;
  color: var(--primary-color);
  font-size: 1.55vw;
  text-decoration: none;
  text-shadow: var(--small-red-shadow);
}

header nav ul li a:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 50px;
  text-shadow: var(--small-red-shadow);
}

.bio h2{
  text-align: center;
  margin: 25px 0px 10px 0px;
  font-size: 26px;
  text-shadow: var(--blue-shadow);
}

.bio img{
  width: 25%;
  text-align: center;
  margin: 50px auto;
  display: block;
  border-radius: 15%;
  filter: drop-shadow(5px 5px #0c099c);
}

.bio p {
  text-align: center;
  width: 50%;
  display: flex;
  margin: 0px auto 30px auto;
  font-size: 20px;
  text-shadow: var(--blue-shadow)
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  header {
    /* this will be applied on any screen smaller than 980px */
    justify-content: center;
    /* align-items: center; */
    position: relative;
  }

  header h1 a{
    font-size: 30px;
  }
  
  header nav ul {
    width: 100%;
  }

  header nav ul li a {
    font-size: 15px;
  }

  .bio h2{
    margin-bottom: 0px;
    font-size: 20px;
  }
  
  .bio img{
    margin: 20px auto;
    width: 40%;
  }
  
  .bio p {
    margin: 0px auto 30px auto;
    font-size: 16px;
  }
}
  
/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {

  /* So hover background doesn't overlap */
  /* header nav ul li {
    padding: 0 15px;
  } */

  header nav ul li a {
    text-shadow: var(--smallest-red-shadow);
    margin: 0;
  } 

  .bio p {
    margin: 0px auto 30px auto;
    font-size: 12px;
  }

}
  
/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {

  header h1 {
  /* this will be applied on any screen smaller than 575px */
  /* Centers h1 in header */
    text-align: center;
  }

  header h1 a{
    font-size: 26px;
    text-shadow: var(--small-red-shadow);
  }

  header nav ul li{
    padding-bottom: 15px;
    /* margin: 0; */
  }
}